/* estilo de Nombre en navegacion y online */
.user-panel {
    height: 60px;
}
.user-panel>.info{
    position: relative;
    left: 10px;
}
.skin-blue .sidebar-menu>li.header{
    color: #1b99e2;
}


/* SWEET ALERT mensaje pequeño */
.swal2-popup {
    font-size: 1.6rem!important;
}


/* ### TH & TD CENTRADO ### */
* th,
  td
{
    text-align: center;
}
thead,
tfoot
{
    background-color: rgb(75, 66, 66, .5);
}
