/* estilo de Nombre en navegacion y online */
.user-panel {
    height: 60px;
}

.user-panel>.info {
    position: relative;
    left: 10px;
}

.skin-blue .sidebar-menu>li.header {
    color: #1b99e2;
}


/* SWEET ALERT mensaje pequeño */
.swal2-popup {
    font-size: 1.6rem !important;
}

.swal2-cancel {
    margin-right: 8px;
}


/* ### TH & TD CENTRADO ### */
* th,
td {
    text-align: center;
}

thead,
tfoot {
    background-color: rgb(75, 66, 66, .5);
}


/* #### INPUT DENTRO DEL EDITAR ADMIN RESALTAR EN BOLD #### */
.form-control {
    font-weight: bold;
}

/* ## PAGINA editar-admin.php ## */
/* ## FALLA EN ALTURA EN PANTALLAS DE LAPTOP ## */
@media (min-width: 750px) {
    .altura-minima{
        min-height: 491px!important;
        height: 799px;
    }
}
/* se arregla que se hace pequeña en pantalla altas */
@media (min-height: 800px) {
    .altura-minima{
        height: 1070px;
    }
}

/* ## DATA PICKER Editar AVENTO */
div.dropdown-menu{
    top: 100px!important;
    left: 250px!important;
}